{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="mt-2 mb-1 search-block">
				<h1 class="h3 text-gray-800">Address</h1>

				<div class="search-wrapper">
					{% include "elements/search.html" %}
				</div>
			</div>

			<div id="address-info-table">
				<div class="card mb-3">
					<div class="table-responsive">
						<table class="table table-borderless table-md table-striped mb-0">
							<tbody>
								<tr>
									<td>Address</td>
									<td>
										{{ address.address }}
									</td>
								</tr>
								{% for balance in address.balances %}
									<tr>
										<td>Balance {{ balance.currency }}</td>
										<td>
											<span>{{ balance.balance }}</span> <b>{{ balance.currency }}</b>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			{% for transaction in transactions %}
				<div class="card mb-3">
					<div class="card-header">
						<a href="{{ url_for('frontend.transaction', txid=transaction.txid) }}">
							{{ transaction.txid }}
						</a>
					</div>
					<div class="card-body">
						{% include "elements/details.html" %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{% if pagination %}
		{% if pagination.pages|length > 1 %}
			{% if pagination.previous %}
				<a href="{{ url_for(pagination.url, page=pagination.previous, address=address.address) }}" class="button">
					<i class="fas fa-fw fa-chevron-left"></i>
				</a>
			{% endif %}

			{% for page in pagination.pages %}
				<a href="{{ url_for(pagination.url, page=page, address=address.address) }}" class="button {% if page == pagination.current %}active{% endif %} {% if page == pagination.current - 1 or page == pagination.current + 1 %}show-xs{% endif %}">
					{{ page }}
				</a>
			{% endfor %}

			{% if pagination.next %}
				<a href="{{ url_for(pagination.url, page=pagination.next, address=address.address) }}" class="button">
					<i class="fas fa-fw fa-chevron-right"></i>
				</a>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock content %}
