{% extends "layout.html" %}
{% block content %}
	{% if block %}
		<h1>Block</h1>

		<div id="block-info-table">
			<div class="card mb-3">
				<div class="table-responsive">
					<table class="table table-borderless table-md table-striped mb-0">
						<tbody>
							<tr>
								<td>Height</td>
								<td id="block-info-height" data-block-info-height="{{ block.height }}">{{ block.height }} (<b>Confirmations {{ block.confirmations }}</b>)</td>
							</tr>
							<tr>
								<td>Timestamp</td>
								<td>{{ block.created }} (<b>{{ block.timestamp }}</b>)</td>
							</tr>
							<tr>
								<td>Block Hash</td>
								<td id="block-info-hash" data-block-info-hash="{{ block.blockhash }}">{{ block.blockhash }}</td>
							</tr>
							<tr>
								<td>Previous Block</td>

								{% if block.previous_block %}
									<td>
										<a href="/block/{{ block.previous_block.blockhash }}">{{ block.previous_block.blockhash }}</a>
									</td>
								{% else%}
									<td>
										<b>Genesis block</b>
									</td>
								{% endif %}
							</tr>
							<tr>
								<td>Next Block</td>

								{% if block.next_block %}
									<td>
										<a href="/block/{{ block.next_block.blockhash }}">{{ block.next_block.blockhash }}</a>
									</td>
								{% else%}
									<td>
										<b>This is latest block</b>
									</td>
								{% endif %}
							</tr>
							<tr>
								<td>Merkle Root</td>
								<td>
									{{ block.merkleroot }}
								</td>
							</tr>
							<tr>
								<td>Size</td>
								<td>{{ block.size }} Bytes</td>
							</tr>
							<tr>
								<td>Version</td>
								<td>{{ block.version }}</td>
							</tr>
							<tr>
								<td>Transactions</td>
								<td>{{ block.txcount }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% for transaction in block.txs %}
			<div class="card mb-3">
				<div class="card-header">
					<a href="/transaction/{{ transaction.txid }}">{{ transaction.txid }}</a>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-sm-12 transaction-from">
							<span>From:</span>
							<ul class="list-flat mt-1">
								{% for vin in transaction.vin %}
									<li>
										<a href="/address/{{ vin.vout.address.address }}">{{ vin.vout.address.address }}</a>
										<div>
											<b>{{ vin.vout.amount }} RPD</b>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6 col-sm-12 transaction-to">
							<span>To:</span>
							<ul class="list-flat mt-1">
								{% for vout in transaction.vout %}
									<li>
										<a href="/address/{{ vout.address.address }}">{{ vout.address.address }}</a>
										<div>
											<b>{{ vout.amount }} RPD</b>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		Block not found
	{% endif %}
{% endblock content %}
