{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-12">
			<h1 class="h3 text-gray-800">Top holders</h1>

			<div class="mb-3">
				<div class="table-responsive">
					<table id="blocks-table" class="mb-0">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Address</th>
								<th scope="col">Balance</th>
							</tr>
						</thead>
						<tbody>
							{% for entry in richlist %}
								<tr>
									<td>
										{{ entry.index }}
									</td>
									<td>
										<a href="{{ url_for('frontend.address', address=entry.address) }}">
											{{ entry.address }}
										</a>
									</td>
									<td>
										<span>{{ entry.balance }}</span> <b>RPD</b>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% include "elements/pagination.html" %}
{% endblock content %}
