{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-12">
			<h1 class="h3 mb-3 text-gray-800">Recent blocks</h1>

			<div class="card mb-3">
				<div class="table-responsive">
					<table id="blocks-table" class="table table-borderless table-md table-striped text-center mb-0">
						<thead>
							<tr>
								<th scope="col">Height</th>
								<th scope="col">Time</th>
								<th scope="col">Hash</th>
								<th scope="col">Transactions</th>
							</tr>
						</thead>
						<tbody>
							{% for block in blocks %}
								<tr data-height="{{ block.height }}">
									<td>
										<a href="/block/{{ block.blockhash }}">
											{{ block.height }}
										</a>
									</td>
									<td>
										{{ block.created }}
									</td>
									<td>
										<a href="/block/{{ block.blockhash }}">
											{{ block.blockhash }}
										</a>
									</td>
									<td>
										{{ block.txcount }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
