{% extends "layout.html" %}
{% block content %}
	<div class="mt-2 mb-1 search-block">
		<h1 class="h3 text-gray-800">Transaction</h1>

		<div class="search-wrapper">
			{% include "elements/search.html" %}
		</div>
	</div>

	<div id="tx-info-table">
		<div class="card mb-3">
			<div class="table-responsive">
				<table class="table table-borderless table-md table-striped mb-0">
					<tbody>
						<tr>
							<td>Transaction Hash</td>
							<td id="tx-info-hash" data-tx-info-hash="{{ transaction.txid }}">{{ transaction.txid }}</td>
						</tr>
						
							<tr>
								<td>Timestamp</td>
								<td>{{ transaction.block.created }} (<b>{{ transaction.block.timestamp }}</b>)</td>
							</tr>
						
						<tr>
							<td>Height</td>
							<td>
								<a href="{{ url_for('frontend.block', blockhash=transaction.block.blockhash) }}">
									{{ transaction.block.height }}
								</a> (<b>Confirmations {{ transaction.block.confirmations }}</b>)
							</td>
						</tr>
						<tr>
							<td>Amount Transferred</td>
							<td>
								<span>{{ transaction.amount }}</span> <b>RPD</b>
							</td>
						</tr>
						<tr>
							<td>Size</td>
							<td>{{ transaction.size }} Bytes</td>
						</tr>
						{% if transaction.fee > 0 %}
							<tr>
								<td>Fee</td>
								<td>{{ transaction.fee }} RPD</td>
							</tr>
						{% endif %}

						{% if transaction.coinstake or transaction.coinbase %}
							{% if transaction.block.reward > 0 %}
								<tr>
									<td>Reward</td>
									<td>{{ transaction.block.reward }} RPD</td>
								</tr>
							{% endif %}

							{% if transaction.block.mn > 0 %}
								<tr>
									<td>Masternode</td>
									<td>{{ transaction.block.mn }} RPD</td>
								</tr>
							{% endif %}

							{% if transaction.block.mn > 0 %}
								<tr>
									<td>Dev fund</td>
									<td>{{ transaction.block.dev }} RPD</td>
								</tr>
							{% endif %}

						{% endif %}

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-body">
			{% include "elements/details.html" %}
		</div>
	</div>
{% endblock content %}