{% extends "layout.html" %}
{% block content %}
	<h1 class="h3 text-gray-800">Transaction</h1>

	<div id="tx-info-table">
		<div class="mb-3">
			<div class="table-responsive">
				<table class="table table-borderless table-md table-striped mb-0">
					<tbody>
						<tr>
							<td>Transaction Hash</td>
							<td id="tx-info-hash" data-tx-info-hash="{{ transaction.txid }}" class="font-monospace">{{ transaction.txid }}</td>
						</tr>
						<tr>
							<td>Timestamp</td>
							<td>{{ transaction.block.created }} (<b>{{ transaction.block.timestamp }}</b>)</td>
						</tr>
						<tr>
							<td>Height</td>
							<td>
								<a href="{{ url_for('frontend.block', blockhash=transaction.block.blockhash) }}" class="font-monospace">{{ transaction.block.height }}</a>
								<span>
									(<b>Confirmations {{ transaction.block.confirmations }}</b>)
								</span>
							</td>
						</tr>
						<tr>
							<td>Amount Transferred</td>
							<td>
								<span>{{ transaction.amount|amount }}</span> <b>RPD</b>
							</td>
						</tr>
						<tr>
							<td>Size</td>
							<td>{{ transaction.size }} Bytes</td>
						</tr>
						{% if transaction.fee > 0 %}
							<tr>
								<td>Fee</td>
								<td>{{ transaction.fee }} RPD</td>
							</tr>
						{% endif %}

						{% if transaction.coinstake or transaction.coinbase %}
							{% if transaction.block.reward > 0 %}
								<tr>
									<td>Reward</td>
									<td>{{ transaction.block.reward|amount }} RPD</td>
								</tr>
							{% endif %}

							{% if transaction.block.mn > 0 %}
								<tr>
									<td>Masternode</td>
									<td>{{ transaction.block.mn|amount }} RPD</td>
								</tr>
							{% endif %}

							{% if transaction.block.mn > 0 %}
								<tr>
									<td>Dev fund</td>
									<td>{{ transaction.block.dev|amount }} RPD</td>
								</tr>
							{% endif %}

						{% endif %}

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-body fz-14">
			{% include "elements/details.html" %}
		</div>
	</div>
{% endblock content %}