{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-12">
			<h1 class="h3 mb-3 text-gray-800">Recent transactions</h1>

			<div class="card mb-3">
				<div class="table-responsive">
					<table id="blocks-table" class="table table-borderless table-md table-striped text-center mb-0">
						<thead>
							<tr>
								<th scope="col">Height</th>
								<th scope="col">Time</th>
								<th scope="col">Hash</th>
								<th scope="col">Amount</th>
							</tr>
						</thead>
						<tbody>
							{% for transaction in transactions %}
								<tr>
									<td>
										<a href="{{ url_for('frontend.transaction', txid=transaction.txid) }}">
											{{ transaction.block.height }}
										</a>
									</td>
									<td>
										{{ transaction.block.created }}
									</td>
									<td>
										<a href="{{ url_for('frontend.transaction', txid=transaction.txid) }}">
											{{ transaction.txid }}
										</a>
									</td>
									<td>
										<span>{{ transaction.amount }}</span> <b>RPD</b>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% include "elements/pagination.html" %}
{% endblock content %}
