<div id="chart"></div>

<script type="text/javascript">

	fetch("{{ url_for('api.chart', key='masternodes') }}").then(function(data) {
		return data.json()
	}).then(function(data) {
		const height = 300

		let lineChartEl = document.getElementById("chart")
		let lineChartOptions = {
			width: 800,
			height: height,
			localization: {
				priceFormatter: (txcount) => {
					return parseInt(txcount) + " MNs"
				}
			},
		}

		let lineChart = LightweightCharts.createChart(lineChartEl, lineChartOptions)
		let lineSeries = lineChart.addLineSeries()
		let simpleData = data["result"]

		lineSeries.setData(simpleData)
		lineChart.timeScale().fitContent()

		function resize() {
			lineChart.applyOptions({ width: lineChartEl.offsetWidth, height: height })
		}

		window.addEventListener("resize", function(event) {
			resize()
		}, true)

		resize()
	})
</script>