<div class="row">
	<div class="col-md-6 col-sm-12 transaction-from">
		<span>From:</span>
		<ul class="list-flat mt-1">
			{% for vin in transaction.simple_vin %}
				<li>
					<a href="{{ url_for('frontend.address', address=vin.address.address) }}" class="font-monospace">
						{{ vin.address.address }}
					</a>
					<div>
						<b>{{ vin.amount|amount }} RPD</b>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6 col-sm-12 transaction-to">
		<span>To:</span>
		<ul class="list-flat mt-1">
			{% for vout in transaction.simple_vout %}
				<li>
					<a href="{{ url_for('frontend.address', address=vout.address.address) }}" class="font-monospace">
						{{ vout.address.address }}
					</a>
					<div>
						<b>{{ vout.amount|amount }} RPD</b>
					</div>
				</li>
			{% endfor %}

			{% if transaction.fee > 0 %}
				<li>
					<span>Fee:</span>
					<div>
						<b>{{ transaction.fee|amount }} RPD</b>
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</div>