<div class="container">
	<div class="nav">
		<div class="nav-items">
			<a href="/">
				<img class="nav-logo" src="/static/img/logo.svg">
			</a>
			<div class="nav-buttons">
				<a href="{{ url_for('frontend.home') }}">
					<span>Overview</span>
				</a>
				<a href="{{ url_for('frontend.transactions') }}">
					<span>Transactions</span>
				</a>
				<a href="{{ url_for('frontend.holders') }}">
					<span>Richlist</span>
				</a>
				<a href="{{ url_for('frontend.network') }}">
					<span>Network</span>
				</a>
				<a href="{{ url_for('frontend.masternodes') }}">
					<span>Masternodes</span>
				</a>
				<a href="{{ url_for('frontend.docs') }}">
					<span>API</span>
				</a>

				<a href="#" id="close">
					<img src="/static/img/close.svg">
				</a>
			</div>
			<a href="#" id="burger">
				<img src="/static/img/menu.svg">
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	let nav = document.getElementsByClassName("nav-buttons")[0]
	let burger = document.getElementById("burger")
	let close = document.getElementById("close")

	burger.onclick = function() {
		nav.classList.add("visible")
	}

	close.onclick = function() {
		nav.classList.remove("visible")
	}
</script>
